body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--white, #fff);
}
:root {
  --cloud-color: #f4f4fd;
  --navy-color: #2e2f42;
  --white-color: #ffffff;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
button {
  cursor: pointer;
}
/* Логотип */

.link {
  text-decoration: none;
}
.logo {
  color: var(--navyblue, #2e2f42);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* Менюшка */

.list {
  list-style: none;
  color: var(--navyblue, #2e2f42);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.list .link {
  color: #2e2f42;
}
.list .link:hover, .list .link:focus {
  color: #404bbf;
}

.contacts {
  color: var(--slate, #434455);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

.contacts:hover {
  color: #404bbf;
}
/* Головна частина */
.solutions {
  background-color: var(--navyblue, #2e2f42);
}
/* Головний заголовок */
.title-one {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  background: #2e2f42;
}

.order-button {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
}
.order-button:hover,
.order-button:focus {
  background: var(--ocean, #404bbf);
}
/* Друга частина */
.title-three {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text-description {
  color: var(--slate, #434455);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Третя частина */
.title-two {
  color: var(--navyblue, #2e2f42);
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* Четверта частина */
.team {
  background-color: #f4f4fd;
}
.team-list {
  background-color: #ffffff;
}

/* Підвал */
.footer {
  background-color: var(--navyblue, #2e2f42);
}
.footer-text {
  color: var(--cloud, #f4f4fd);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background: var(--navyblue, #2e2f42);
}
.footer-logo {
  color: #f4f4fd;
}

/* Портфолио */
.all-button {
  color: var(--white, #fff);
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--ocean, #404bbf);
}

.other-buttons {
  color: var(--iris, #4d5ae5);
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--cloud, #f4f4fd);
}
.title2 {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
